body {
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  color: #444;
  font-weight: 200;
  background-color: #fff;
}

#content {
  text-align: center;
  margin-bottom: 5%;

  h1,h2{
    font-family: "Adelle",Helvetica,Arial,sans-serif;
    font-weight: normal;
  }
}

.header{
    padding: 5px 0;

    img {width:100px;}
}
.subheader {
    padding: 3px 0;
    background-color: #f2f2f2;

    h1{font-size:2.25em;}
}