.project-tile {
  height: 325px;
  width: 350px;
  margin: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #333;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  transform: scale(0);
  transition: 0.2s ease-out;
  box-sizing: border-box;
  border: 1px solid #ccc;
  overflow: hidden;

  &:nth-child(6n) {
    border-top: 8px solid #f26522;
  }

  &:nth-child(6n+1) {
    border-top: 8px solid #b1c537;
  }

  &:nth-child(6n+2) {
    border-top: 8px solid #D73D32;
  }

  &:nth-child(6n+3) {
    border-top: 8px solid #652a79;
  }

  &:nth-child(6n+4) {
    border-top: 8px solid #cccccc;
  }

  &:nth-child(6n+5) {
    border-top: 8px solid #3bbbef;
  }

  .tile-img {
    width: 350px;
    height: 175px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .title {
    text-align: left;
    font-weight: bold;
    font-size: 1.25em;
    letter-spacing: -.5px;
    text-transform: uppercase;
    margin: 12px 10px 10px 15px;
    box-sizing: border-box;
    height: 50px;
  }

  .info {
    font-size: 1em;
    text-align: left;
    margin-left: 15px;
    text-transform: capitalize;

    div{
      margin-bottom: 2px;
    }

    .project-attribute {
      font-size: 0.8em;
      font-weight: bold;

      .project-attribute-result {
        font-weight: normal;

        &.live {
          color: green;
          font-weight: bold;
        }

        &.not-live {
          color: red;
          font-weight: bold;
        }
      }
    }
  }

  .edit-link, .view-live-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 9px;

    button {
      border: none;
    }
  }
}