


$white: #fff;
$black: #000;
$orange: #f26522;
$darkblue: #1a7293;
$lightblue: #3bbbef;
$lightgreen: #b1c537;
$darkgreen: #1c8138;
$yellow: #e4cf2c;
$pink: #e01947;
$purple: #652a79;
$red: #D73D32;
$blue: #3C599B;