PROJECT EDIT GOES HERE

<form>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="<%= project.get("viz_name") %>">
  </div>
</form>


"live", "region", "link", "screenshot", "vertical", "industry", "use_case", "viz_name", "subscription", "location", "template_group", "record_created", "end_date", "story_slide", "visible"