filters go here
<br><br><br><br>
<label for="vertical-select">Vertical</label>
<select multiple id="vertical-select">
  <option value="sports">Sports</option>
  <option value="brand">Brand</option>
  <option value="media">Media</option>
  <option value="partner">Partner</option>
</select>