<form>
  <div class="form-group">
    <label for="vertical-select">Filter by vertical:</label>
    <select multiple id="vertical-select">
      <option value="sports">Sports</option>
      <option value="brand">Brand</option>
      <option value="media">Media</option>
      <option value="partner">Partner</option>
    </select>
  </div>
  <div class="form-group">
    <label for="use-case-select">Filter by use case:</label>
    <select multiple id="use-case-select">
      <option value="marketing promotion">Marketing Promotion</option>
      <option value="second screen">Second Screen</option>
      <option value="sponsorship">Sponsorship</option>
      <option value="evergreen destination">Evergreen Destination</option>
      <option value="cause marketing">Cause Marketing</option>
      <option value="event engagement">Event Engagement</option>
      <option value="contest">Contest</option>
      <option value="sweepstakes">Sweepstakes</option>
      <option value="event promotion">Event Promotion</option>
      <option value="product promotion">Product Promotion</option>
      <option value="product launch">Product Launch</option>
      <option value="rebranding">Rebranding</option>
      <option value="live q&a">Live Q&A</option>
      <option value="consent">Consent</option>
    </select>
  </div>
  <div class="form-group">
    <label for="template-group-select">Filter by template:</label>
    <select multiple id="template-group-select">
      <option value="Mosaic">Mosaic</option>
      <option value="Expressions">Expressions</option>
      <option value="Maps">Maps</option>
      <option value="Streams">Streams</option>
      <option value="Leaderboards">Leaderboards</option>
      <option value="Counters">Counters</option>
      <option value="Polls">Polls</option>
      <option value="Galleries">Galleries</option>
      <option value="Social Hub">Hub</option>
      <option value="Flock to Unlock">Unlock</option>
      <option value="Counter">Counter</option>
      <option value="Quiz">Quiz</option>
      <option value="Q & A">Q&A</option>
    </select>
  </div>
  <div class="form-group">
    <label for="project-name-select">Search project name:</label>
    <select multiple id="project-name-select">
      <% projects.forEach(function(model) { %>
      <option value="<%= model.get("viz_name") %>">
        <%= model.get("viz_name") %>
      </option>
      <% }) %>
    </select>
  </div>
</form>