<div class="header" role="header">
    <a href="/" title="Spredfast" rel="home" class="navbar-brand">
        <img src="/assets/sflogo.png" alt="Spredfast Logo">
    </a>
</div>

<div class="subheader">
    <h1>Live Experiences Library</h1>
</div>

<div class="filters">
</div>

<div class="projects">
</div>